body{
    height: 2000px;
    background-color:rgb(115, 85, 212);
    box-sizing: border-box;
}

.Quiz-section{
    width:540px;
    height:390px;
    margin: 100px auto;
    border-radius:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.Quiz-container{
    padding:20px;
    height:300px;
}

.button{
    background-color: white;
    outline: none;
    border: none;
    width:120px;
    height: 50px;
    padding: 10px;
    color: white;
    border-radius: 10px;   
    cursor: pointer; 
}
.button:hover, button:active{
    outline: none;
}

.button:active{
    border-width:2px;
    transition-duration: 0.05s;
}

.question{
    font-size:32px;
    font-weight: bold;
    margin:20px 0;
}

.question::first-letter, .Quiz-answer::first-letter{
    text-transform: uppercase;
}

.Quiz-answer{
    width: 70%;
    min-width: 500px;
    height: 60px;
    color:#838383;
    border: 2px solid #9f9f9f;
    border-radius: 10px;
    margin: 2px;
    text-align: left;
    transition-duration: 150ms;
}
#section-decoration2{
    height: 70px;
    width: 92%;
    background-color: rgba(255, 255, 255, 0.386);
}
.section-decoration {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.792);
    width: 95%;
    height: 60px;
    border-radius: 30px;
}


.Quiz-answer:hover{
    border-color:#000;
    color:#000;
    background:#f9f9f9;
}

.progressBar{
    width: 100%;
    border-radius:5px;
    height:10px;
    background:#ffe477;
}

.progress{
    width:0%;
    max-width:100%;
    transition-duration: 300ms;
    background:linear-gradient(to left, #29bedc, #b82fea);
    border-radius: 5px;
    height:100%;
}

.progress-end{
    width: 100%;
}

h2{
    color:#353535;
}

.result{
    font-size: 40px;
    color: #353535;
}