body{
    height:700px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.button{
    background-color: white;
    outline: none;
    border: none;
    width:120px;
    height: 50px;
    padding: 10px;
    color: white;
    border-radius: 10px;   
    cursor: pointer; 
}
.button:hover, button:active{
    outline: none;
}

.convert-container{
    width: 700px;
    height: 150px;
    background-color:#dadada;
    border-radius: 10px;
    margin: 50px auto 0 auto;
    padding:10px;    
    display: flex;
    flex-direction: column;
    transition-duration: 300ms;
}
.convert-container-big{
    height:200px;
}
.currency-control{
    width: 90%;
    height:30%;  
}

.input-control{
    display: flex;
    width:90%;
    height:60%;
    justify-content: space-around;
}

input{
    border:none;
    background: none;
    font-size: 30px;
}

input:focus{
    outline: none;
    border:none;
}

.convert-block{
    width:48%;
    height: 100%;
    overflow:scroll;
    overflow-y: hidden;
}

.choose-currency{
    margin: 4px 0 0 4px;
    border:none;
    transition-duration: 150ms;
}

.currency-control{
    display: flex;
    width: 90%;
    height: 30%;
    justify-content: space-around;
}

.choose-currency:hover{
    background-color: #cfffcd;
}

.choosen {
    background-color: #67ff62;
}
.choosen:hover {
    background-color: #67ff62;
}

.other-currencies{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
