.counter{
    width:400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin: auto;
    margin-top:100px;
    color:rgb(124, 124, 124);
}
.button{
    background-color: white;
    outline: none;
    border: none;
    width:120px;
    height: 50px;
    padding: 10px;
    color: white;
    border-radius: 10px;    
}
.button:hover, button:active{
    outline: none;
}

.control-count{
    display: flex;
    justify-content: space-between;
    width:300px;
    height: 100px;
}
.less{
    background-color:#ff7979;
    border-bottom: 5px solid #b15757;
    
}
.more{
    background-color:rgb(134, 255, 130);
    border-bottom: 5px solid #5ab157;
}

.button:active{
    margin-top:5px;
    border-width:2px;
    transition-duration: 0.05s;
}


